{% extends 'nav.html' %}
{% block nav %}

<div class="container-fluid p-5">
    <h1>{{ products.title }}</h1>
    <div class="row border p-3 shadow">
        <div class="col">
            <img src="{{products.product_image.url}}" alt="products" class="img-fluid">
        </div>
        <div class="col d-flex flex-column justify-content-center p-3">
            <h2>{{products.title}}</h2>
            <p>category: {{products.category }}</p>
            <h3>{{products.description }}</h3>
            <h3>Price: RS.{{products.price }}</h3>
            <div class="mt-5">
                <a href="{% url 'acart' products.id %}" class="btn btn-warning">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                    Add To Cart

                </a>
            </div>
        </div>
    </div>
</div>


{% endblock nav %}
