{% extends 'nav.html' %}
{% block nav %}

<!-- {% for i in orders %} -->
{% if messages %}
{% for i in messages %}
{% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success">
{{i}}
</div>
{% endif %}
{% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger">
{{i}}
</div>
{% endif %}
{% endfor %}
{% endif %}
        
    <div class="row border border-3 border-dark shadow rounded mb-5 p-4">
        
        <div class="col">
            <img src="{{i.products.product_image.url}}" alt="" height="200px">
        </div>
        <div class="col">
            <h4>{{i.products.title}}</h4>
            <p>{{i.products.price}}</p>
            <p>address:{{i.address}}</p>
            <p>Phone:{{i.phone}}</p>
            <p>{{ i.date}}</p>
            <div class="d-flex justify-content-between">
                {% if i.status == 'order placed' %}
                    <h6 class="text-secondary">{{i.status}}</h6>
                {% endif %}
                {% if i.status == 'shipped' %}
                    <h6 class="text-warning">{{i.status}}</h6>
                {% endif %}
                {% if i.status == 'Out for Delivery' %}
                    <h6 class="text-info">{{i.status}}</h6>
                {% endif %}
                {% if i.status == 'Delivered' %}
                    <h6 class="text-success">{{i.status}}</h6>
                {% endif %}
                {% if i.status == 'order placed' or i.status == 'shipped' %}
                <a href="{% url 'corder' i.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger">
                    Cancel order
                </a>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}




{% endblock nav %}